.message{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 320px;
    right: 250px;
    border-left: 2px solid rgba(109, 109, 109, 0.048) ;
    /* background-color: rgba(201, 201, 201, 0.192); */
}
.message-block{
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 70px;
    overflow-y:scroll; 
}
.message-block::-webkit-scrollbar{
    opacity: 0;
}
/* .message-block::-webkit-scrollbar-thumb:hover{
    
} */
.msg-bl{
    position: relative;
    width: 90%;
    margin: 0 auto;
    padding-top: 10px;
    
    /* background-color: rgba(165, 42, 42, 0.253); */
}

.message-input{
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
}
.msg-inp{
    position: relative;
    margin: 0 auto;
    padding-top: 15px;
    width: 90%;
    height: 100%;
}

@media screen and (max-width: 1000px) {
    .message{
        right:0;
    }
    
}
@media screen and (max-width: 700px) {
    .message{
        left:0;
    }
    
}